* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.nav-mobile {
  display: none;
}
.edie-homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.navbar-container-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.logo {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
}
.nav-content {
  list-style-type: none;
  display: flex;
}
.nav {
  padding: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.anchor-nav{
  text-decoration: none;
  color: black;
}
.header-container {
  margin-left: 200px;
}

.unhappy-head {
  font-weight: 500;
  font-size: 22px;
  color: #2d9cdb;
}
.header {
  font-weight: 500;
  font-size: 48px;
  color: #333333;
  width: 500px;
}
.hero-image {
  border-radius: 18px;
  width: 100%;
}
.story-container {
  width: 400px;
  margin-left: 200px;
}
.story-heading {
  font-weight: 500;
  font-size: 48px;
  color: #333333;
}
.story-description {
  font-weight: 400;
  font-size: 18px;
  color: #4f4f4f;
}
.email-label {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  margin-bottom: 5px;
}
.email-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}
.email-input {
  flex: 1;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: #828282;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.join-btn {
  background-color: #2d9cdb;
  color: white;
  width: 94px;
  height: 49px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
.offers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.offers-title {
  width: 300px;
  font-weight: 500;
  font-size: 36px;
  color: #333333;
  margin-left: 40px;
}
.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.designation-container {
  padding: 20px;
  width: 400px;
  height: 350px;
}
.designation-container:hover {
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 10px;
}
.ui-icon {
  background-color: #2d9cdb;
  border-radius: 16px;
  width: 67px;
  height: 67px;
}
.service-header {
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}
.service-description {
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
  width: 300px;
}
.ui-ux-btn {
  width: 116px;
  height: 42px;
  background: #e0e0e0;
  border-radius: 12px;
  border: none;
  color: #828282;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.frontend-icon {
  background: #27ae60;
  border-radius: 16px;
  width: 67px;
  height: 67px;
}
.ui-ux-btn:hover {
  background: #2d9cdb;
  color: #ffffff;
}
.backend-icon {
  background: #eb5757;
}
.design-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard-container {
  margin: 40px;
}
.design-head {
  width: 300px;
  font-weight: 500;
  font-size: 36px;
  color: #333333;
  margin-left: 40px;
}
.dasboard-image {
  border-radius: 12px;
  width: 550px;
  height: 550px;
}
.app-description {
  font-weight: 300;
  font-size: 14px;
  color: #828282;
}
.app-name {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}
.design-margin {
  margin-top: 150px;
}
.see-more {
  font-weight: 500;
  font-size: 20px;
  padding-top: 100px;
  color: #2d9cdb;
  position: relative;
  left:80%;
}
.arrow {
  width: 20px;
  color: #2d9cdb;
  margin-top: 20px;
}
.team-conatiner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  flex-wrap: wrap;
}
.team-desc-container {
  width: 300px;
}
.team-meet {
  color: #eb5757;
  font-weight: 500;
  font-size: 18px;
}
.team-header {
  font-weight: 500;
  font-size: 36px;
  color: #333333;
  width: 240px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  color: #4f4f4f;
}
.team-image-container {
  display: flex;
  align-items: center;
}
.person1 {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  margin-right: 20px;
}
.persons-container {
  display: flex;
  flex-direction: column;
}
.person2 {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.person3 {
  width: 280px;
  height: 280px;
  border-radius: 15px;
}
.message {
  font-weight: 500;
  font-size: 36px;
  color: #333333;
  width: 750px;
  margin-left: 40px;
}
.ceo-container {
  display: flex;
  align-items: center;
}
.ceo-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
  margin-left: 40px;
}
.ceo-name {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}
.ceo-desc {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
.footer-container {
  background: #100e1d;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.home-servieces-container {
  list-style: none;
}
.footer-nav {
  color: #ffffff;
  font-size: 18px;
  padding-top: 10px;
}
.edie-name {
  font-weight: 800;
  font-size: 36px;
  color: #f2f2f2;
  margin-bottom: 0px;
}
.social-icons {
  padding-right: 4px;
}
.conatct-container {
  margin-top: 30px;
}
.email-container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 920px) and (max-width: 1320px) {
  .logo {
    font-size: 32px;
  }
  .nav {
    font-size: 20px;
    padding-right: 15px;
  }
  .header-container,
  .story-container {
    margin-left: 100px;
  }
  .designation-container {
    width: 400px;
  }
  .dasboard-image {
    width: 350px;
    height: 350px;
  }
  .design-margin {
    margin-top: 100px;
  }
  .person1 {
    width: 280px;
    height: 280px;
  }
  .person2 {
    width: 220px;
    height: 220px;
  }
  .person3 {
    width: 240px;
    height: 240px;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .nav {
    font-size: 20px;
    padding-right: 15px;
  }
  .header-container,
  .story-container,
  .offers-title {
    margin-left: 50px;
  }
  .services-container {
    justify-content: center;
  }
  .designation-container {
    width: 300px;
  }
  .dasboard-image {
    width: 250px;
    height: 250px;
  }
  .message {
    width: 600px;
  }
  .person1 {
    width: 160px;
    height: 160px;
  }
  .person2 {
    width: 130px;
    height: 130px;
  }
  .person3 {
    width:140px;
    height: 140px;
  }
  .see-more {
    left:60%;
  }
}

@media screen and (max-width: 767px) {
  .nav-mobile {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-container,
  .story-container,
  .offers-title,
  .design-head {
    margin-left: 10px;
  }
  .unhappy-head {
    font-size: 18px;
  }
  .header,.story-heading,.offers-title{
    font-size: 32px;
    width:300px;
  }
  .navbar-container-desktop {
    display: none;
  }
  .message {
    font-size: 28px;
    margin-left: 10px;
    width: 300px;
  }
  .story-container{
    width:300px;
  }
  .footer-container {
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }
  .social-media-container,.conatct-container {
    padding-left: 42px;
  }
  .dasboard-image{
    max-width:300px;
    max-height: 300px;
  }
  .dashboard-container{
    margin: 0px;
  }
  .person1 {
    width: 50%;
    height:50%;
  }
  .person2 {
    width: 50%;
    height: 50%;
  }
  .person3 {
    width:50%;
    height: 50%;
  }
  .conatct-container{
    margin-top: 20px;
  }
  .email-container-footer {
    width: 200px;
  }
  .footer-input{
    width:150px;
  }
  .footer-btn{
    width: 50px;
    height: 38px;
  }
  .see-more {
    left:0%;
  }
}
